html,
body {
    line-height: 1;
    background-color: #ffe6d7;
    margin: 0px;
    font-family: 'Josefin Sans','Arial', Helvetica,  sans-serif;
}

a,
li {
    all: unset;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url("./media/background_consoles.png");
    background-size: 100% auto;
}

/* HEADER */
.header__container {
    display: flex;
    align-items: center;
    min-height: 100px;
    max-width: 1165px;
    margin: 0px auto;
}

.logo__image{
    width: 287px;
    height: 78px;
    margin-bottom: 10px;
    cursor: pointer;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__link {
    margin-right: 50px;
    color: #446381;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.button {
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
    border-radius: 25px;
    background: linear-gradient(95deg, #4499d9 17.46%, #7367be 87.77%);
    padding: 13px 0;
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
}
.header__button{
    min-width: 180px;
}
/* MAIN CONSOLEdS */

.main {
    flex: 1 1 auto;
}

.main__consoles{
    background-image: url("./media/background_consoles_2.png"), url("./media/background_c0nsoles_2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top 200px right -100px, 400px 500px;
}
.content__container {
    max-width: 1165px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding-bottom: 65px;
    padding-top: 10px;
}

.content__text {
    min-width: 500px;
}

.content__title {
    color: #446381;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.content__title--background{
    background-image: url("./media/Arrow.png");
    background-repeat: no-repeat;
    background-position: 215px -2px;
}

.content__arrow {
    margin-left: 30px;
}

.content__name {
    color: #eb8382;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    padding: 26px 0 31px;
    margin:0;
}

.content__image{
    width: 640px;
}

.content__name--blue {
    color: #446381;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
}

.content__information {
    width: 535px;
    color: #826f8c;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
}

.content__button {
    display: inline-block;
    width: 207px;
    margin-top: 26px;
}

/* GLASSES */
.main__series{
    flex-direction: row-reverse;
    gap: 80px;
    background-image: url("./media/background_glasses_1.png");
    background-repeat: no-repeat;
    background-position: 100% 105%;
    padding: 50px 0 70px;
}

.main__glasses {
    background-color: #ffe6d7;
}

.main__glasses {
    background-image: url("./media/1111.png");
    background-repeat: no-repeat;
    background-position: 105% 105%;
}

.content__text--arrowGlasses{
    background-image: url("./media/next_step.png");
    background-repeat: no-repeat;
    background-position: 250px 350px;}
.content__text--arrowXbox{
    background-image: url("./media/next_step.png");
    background-repeat: no-repeat;
    background-position: 400px 350px;
}
.glasses__next {
    width: 35px;
    height: 25px;
    margin-left: 30px;
}

.xbox__next {
    width: 32px;
    height: 18px;
    margin-left: 100px;
}

/* XBOX */
.main__xbox {
    background-image: url("./media/xbox_background.png");
    background-size: 100% auto;
}

.main__new{
    gap: 80px;
}

/* PRICE */
.card{
    width: 360px;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
    height: 566px;
    background-color: #fbdacf;
}
.card__standart{
    background-image: url("./media/baclground_card.png"), linear-gradient(180deg, #446381 0%, #826F8C 100%);
    height: 606px;
    background-repeat: no-repeat;
    background-position: left bottom;

}

.price__container{
    max-width: 1165px;
    margin: 0px auto;   
    padding: 50px 0 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price__text{
    color: #446381;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.price__title{
    color: #eb8382;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    margin: 23px 0 65px;
}

.price__cards{
    display: flex;
    gap: 42px;
    align-items: center;
}

.price{
    background-color: #ffe6d7;
    border-bottom: 2px solid #cdc7d1;
}

.card__name{
    color: #446381;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 35px 0 32px 43px;
}

.card__logo{
    margin-left: 100px;
}

.card__price{
    color: #eb8382;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 46px;

}

.card__hour{
    color: #eb8382;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card__item{
    display: flex;
    align-items: center;
    color: #826f8c;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin: 35px 0 0 49px
}

.card__image{
    height: 9px;
    width: 13px;
    margin-right: 13px;
}

.card__button{
    margin: 30px 0 0 45px;    
    width: 207px;
}

.white{
    color: #ffffff
}

/* FOOTER */
.footer{
    background-color: #ffe6d7;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copiright{
    color: #826f8c;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0 15%;
}

.footer__logo > img{
    margin-bottom: 10px;
    width: 238px;
    height: 65px;
}

.links__facebook,
.links__twitter,
.links__instagram{
    width: 40px;
    height: 40px;
}
.links__link{
    margin-right: 15px;
    cursor: pointer;
}